body{
    background-image: url(/Task1/img/266471.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    color: chocolate;
    margin-left: 130px;
}

.pclist{
    color: rgb(255, 74, 74);
    margin-left: 130px;
}

.pcequipment{
    margin-left: 130px;
    font-size: 20px;
}

a{
    text-decoration-color: none;
    text-decoration: none;
    color: rgb(247, 4, 255);
}

a:hover{
    text-decoration: none;
    color: darkorange;
    filter: drop-shadow(5px 5px 8px);
}

.systeminfo{
    height: 450px;
}

.systemtxt{
    margin-left: 130px;
    font-size: 20px;
    color: rgb(55, 255, 0);
}

.systemblock{
    text-align: center;
    color: burlywood;
    border-color: blueviolet;
}

.systemblocklist{
    margin-left: 130px;
    font-size: 20px;
    color: rgb(55, 255, 0);
}

.pngblock{
    position: relative; left: 730px; top: -300px;
    height: 375px;
}

.motherboard{
    margin-left: 130px;
}

.motherboardtxt{
    margin-left: 130px;
    font-size: 25px;
}

.microproc{
    margin-left: 130px;
}

.microproctxt{
    margin-left: 130px;
    font-size: 25px;
}

.adapter{
    margin-left: 130px;
}

.adaptertxt{
    margin-left: 130px;
    font-size: 25px;
}

.powersupply{
    margin-left: 130px;
}

.powersupplytxt{
    margin-left: 130px;
    font-size: 25px;
}

.opticdisc{
    margin-left: 130px;
}

.opticdisctxt{
    margin-left: 130px;
    font-size: 25px;
}

.harddisk{
    margin-left: 130px;
}

.harddisktxt{
    margin-left: 130px;
    font-size: 25px;
}

.clockfrequency{
    margin-left: 130px;
}

.clockfrequencytxt{
    margin-left: 130px;
    font-size: 25px;
}

.ram{
    margin-left: 130px;
}

.ramtxt{
    margin-left: 130px;
    font-size: 25px;
}

.gpu{
    margin-left: 130px;
}

.gputxt{
    margin-left: 130px;
    font-size: 25px;
}

.networkcard{
    margin-left: 130px;
}

.networkcardtxt{
    margin-left: 130px;
    font-size: 25px;
}

.voicecard{
    margin-left: 130px;
}

.voicecardtxt{
    margin-left: 130px;
    font-size: 25px;
}

.monitor{
    color: burlywood;
    text-align: center;
}

.monitortxt{
    margin-left: 130px;
    font-size: 25px;
}

.keyboard{
    color: burlywood;
    text-align: center;
}

.keyboardtxt{
    margin-left: 130px;
    font-size: 25px;
}

.mouse{
    color: burlywood;
    text-align: center;
}

.mousetxt{
    margin-left: 130px;
    font-size: 25px;
}