body{
    background-image: url(/Task1/img/screenshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: chartreuse;
}

.mainpage{
    background-color: aliceblue;
    width: 600px;
    height: 690px;
    position: relative; left: 500px;
    border-style: double;
    border-color: black;
}

h1{
    margin: 20px;
}

.welcome{
    position: relative; top: 30px;
    margin: 30px;
    width: 540px ;
}

li{
    margin: 20px;
}
