.headinglist{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 360px;
    border-style:double;
    border-color: black;
    margin: 10px;
}

.countryinfo{
    background-color: yellow;
    border-style: double;
    border-color: black;
    height: 300px;
    width: 660px;
    margin: 10px;
}

.countyname{
    margin: 10px;
}

.countytxtinfo{
    margin: 10px;
}

.bluebackground{
    background-color: blue;
    height: 300px;
    width: 660px;
    margin: 10px;
    border-style: double;
    border-color: black;
}

.whitetxt{
    color: white;
    text-align: center;
    position: relative; top: 110px;
}

.aboutme{
    background-color: rgb(225, 222, 227);
    border-style: double;
    border-color: black;
    height: 300px;
    width: 660px;
    margin: 10px;
}

.listaboutme{
    list-style-type: none;
    
}

li{
  margin: 20px;  
}