body{
    background-image: url(/Task1/img/pexels-pixabay-414659.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.webmenu{
    width: cover;
    height: cover;
}

h1{
    color: rgb(255, 0, 0);
    margin: 15px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    filter: drop-shadow(3px 3px 10px);
}

li{
    margin: 10px;
    font-size: 24px;
    color: rgb(255, 102, 0);
}

.batumi{
    text-align: center;
}

.batumitxt{
    font-size: 19px;
}

.ureki{
    text-align: center;
}

.urekitxt{
    font-size: 19px;
}

.bakuriani{
    text-align: center;
}

.bakurianitxt{
    font-size: 19px;
}

.borjomi{
    text-align: center;
}

.borjomitxt{
    font-size: 19px;
}

.gudauri{
    text-align: center;
}

.gudauritxt{
    font-size: 19px;
}